<template name="category">
  <div class="">
    <h2 class="btn btn-primary btn-large" role="button" data-toggle="collapse" href="#collapseCategoria" aria-expanded="false" aria-controls="collapseCategoria">Aggiungi Categoria dei Piatti</h2>
    <div class="collapse" id="collapseCategoria">
      <div class="well">
      <form id="addCategoryForm">
<div class="form-group">
      <label class="control-label">Nome Categoria
        <span class="label label-warning">Italiano</span>
      </label>
      <input type="text" class="form-control input-sm" id="categoryNameIt">
</div>

<div class="form-group">
      <label class="control-label">Nome Categoria
        <span class="label label-warning">Inglese</span>
      </label>
      <input type="text" class="form-control input-sm" id="categoryNameEn">
</div>

<div class="form-group">
      <label class="control-label">Nome Categoria
        <span class="label label-warning">Francese</span>
      </label>
      <input type="text" class="form-control input-sm" id="categoryNameFr">
</div>

<div class="form-group">
      <label class="control-label">Nome Categoria
        <span class="label label-warning">Tedesco</span>
      </label>
      <input type="text" class="form-control input-sm" id="categoryNameDe">
</div >
      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <button class="btn btn-info btn-md addCategory">
            <i class="fa fa-database ">
              Add Category
            </i>
          </button>
        </div>
      </div>
      </form>
</div>
</div>
  </div>
</template>
