<template name="category">
  <div class="">
    <div class="form-group">
      <form id="addCategoryForm">
      <label class="control-label">Nome Categoria
        <span class="label label-warning">Italiano</span>
      </label>
      <input type="text" class="form-control input-sm" id="categoryNameIt">

      <label class="control-label">Nome Categoria
        <span class="label label-warning">Inglese</span>
      </label>
      <input type="text" class="form-control input-sm" id="categoryNameEn">

      <label class="control-label">Nome Categoria
        <span class="label label-warning">Francese</span>
      </label>
      <input type="text" class="form-control input-sm" id="categoryNameFr">

      <label class="control-label">Nome Categoria
        <span class="label label-warning">Tedesco</span>
      </label>
      <input type="text" class="form-control input-sm" id="categoryNameDe">

      <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
          <button class="btn btn-info btn-md addCategory">
            <i class="fa fa-database ">
              Add Category
            </i>
          </button>
        </div>
      </div>
      </form>
    </div>
  </div>
</template>
