<template name="composer">

  {{#each categories _id}}
    <div class="row">

      <div class="col-md-12">
        <h1 class="heading">
          {{nameIt}}
        </h1>
        <table class="table table-striped table-bordered table-responsive table-hover">
          <thead>
            <tr class="info">
              <td>Nome It</td>
              <td>Nome Fr</td>
              <td>Nome De</td>
              <td>Nome En</td>
              <td>Inserisci</td>
            </tr>
          </thead>
          <tbody>
            {{#each recipes}}
          <tr>
            <td>{{nameIt}}</td>
            <td>{{nameFr}}</td>
            <td>{{nameDe}}</td>
            <td>{{nameEn}}</td>

            <td><input type="checkbox" checked={{isActive}} class="checkbox control setActive"></td>

          </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/each}}
</template>
