<template name="header">
  <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/home" class="navbar-brand">Daily Menu</a>
      </div>

      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">Menu</a></li> 
        </ul>

        <div class="navbar-right plain">
          <a href="/composer" class="btn btn-primary navbar-btn">Componi il Menu</a>
          <a href="/manager" class="btn btn-warning navbar-btn">Aggiungi Piatti</a>
        </div>

      </div>

      <div class="collapse navbar-collapse" id="main-nav">

      </div>
    </div>
  </nav>
</template>
